tqdm
fastapi>=0.95.0
uvicorn>=0.22.0
pydantic>=1.10.7
email-validator>=2.0.0
python-jose>=3.3.0
passlib>=1.7.4
python-multipart>=0.0.6
bcrypt>=4.0.1 
simple-term-menu
parse-nmap
python-libnmap
PySocks
wheel
setuptools
beautifulsoup4
bs4
django
future
httplib2
httpretty
lxml
netaddr
netifaces
pillow
prettytable
prompt-toolkit
psutil
PTable
Pygments
PyJWT
python-dateutil
pythonping
pytimeparse
reportlab
requests
requests-unixsocket
scapy-python3
sqlparse
neotermcolor
tldextract
urllib3
mimesis
Scrapy
Twisted
tabulate
PyYAML
packaging
docker
Flask-SQLAlchemy
SQLAlchemy
SQLAlchemy-Utils
sqlparse
Flask
rich
aiohttp
asyncio
jsonpickle
simple-term-menu
